<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Views/Css/stylesheet.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Views/Css/normalize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Views/Bootstrap/css/bootstrap-grid.css")" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

   
</head>
<body>
    @RenderBody()
</body>
</html>
