@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section id="short-quote" class="section-prefs">
        <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters">
                <div class="col-lg-6 full-screen-height">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <img src="@Url.Content("~/Views/Images/Logo.png")" class="logo-picture animated fadeIn"  style="animation-delay: 0.5s; animation-duration: 1.5s;">
                    </div>
                    <img class="main-image-prefs" src="@Url.Content("~/Views/Images/lviv.jpeg")">
                </div>
                <div class="col-lg-6 black-bg full-screen-height">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header align-text-center animated fadeIn"  style="animation-delay: 1s; animation-duration: 1.5s; font-weight: 500; line-height: 170%;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="story" class="section-prefs">
        <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters">
                <div class="col-lg-5 full-screen-height black-bg layer-4">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header animated fadeIn" style="animation-delay: 0.4s; animation-duration: 1.5s;">Gamedev Introduction</h1>
                        <p class="text-content animated fadeIn" style="animation-delay: 1s; animation-duration: 1.5s;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 full-screen-height">
                    <img class="main-image-prefs" src="@Url.Content("~/Views/Images/city.jpeg")">
                </div>
            </div>
        </div>
    </section>

    <section id="what-we-make" class="section-prefs">
        <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters">
                <div class="col-lg-6 full-screen-height image-bg-sm">
                    <img class="main-image-prefs blur-bg-sm" src="@Url.Content("~/Views/Images/whatwemake.jpeg")">
                </div>
                <div class="col-lg-6 full-screen-heigh black-bg">
                    <div class="absolute layer-4 article-preview align-vertical-absolute text-overlay-on-img">
                        <h1 class="text-header animated fadeIn" style="animation-delay: 0.4s; animation-duration: 1.5s;">Gamedev Introduction</h1>
                        <p class="text-content animated fadeIn" style="animation-delay: 1s; animation-duration: 1.5s;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="follow-us" class="section-prefs">
        <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters">
                <div class="col-lg-6 full-screen-height black-bg">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header">Reach more</h1>
                        <p class="text-content" style="font-size: 20px;">
                            Follow us on:
                            <div id="social-platforms">
                                <ul style="list-style: none; box-sizing:unset">

                                    <li><a class="btn btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a class="btn btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li> <a class="btn btn-icon btn-googleplus" href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a></li>
                                    <li><a class="btn btn-icon btn-pinterest" href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                    <li> <a class="btn btn-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a></li>

                                </ul>
                            </div>

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 full-screen-heigh">
                    <img class="main-image-prefs" src="@Url.Content("~/Views/Images/aboutussocial.jpeg")">
                </div>
            </div>
        </div>
    </section>
</main>

