@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<LonglifeGames.Models.ArticleModel>

    
<main>
    <section @*id="blogs"*@>
        <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters full-height hide-overflow">
                <!-- The newest article /-->

                <div class="col-lg-12 size-60-sm">
                    <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(0).Id },null)" style="width:100%;">

                        <span class="cover dark-overlay to-hide"></span>
                        <img src="@Url.Content(Model.ElementAtOrDefault(0).ArticleImage)" class="main-image-prefs size-70-sm">

                        <div class="absolute layer-4 article-preview align-vertical-absolute">
                            <h1 class="text-header  big-header-text to-hide animated fadeIn" style="animation-delay: 0.7s;">
                                @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(0).ArticleTitle)

                            </h1>
                        </div>
                        
                    </a>
                </div>
                <div class="size-40-sm white-bg hide-on-lg text-wrapper">
                    <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(0).Id },null)" style="width:100%;">
                        <h1 class="text-header black-text">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(0).ArticleTitle)</h1>
                        <p class="text-content black-text">
                            @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(0).ArticleContent)
                        </p>
                        </a>
</div>
                </div>
            <div class="row no-gutters">

                <!--  Left part of the screen/-->
                <div class="col-lg-8">
                    <!--  Bigger Articles/-->
                    <div class="row no-gutters">

                            <div class="col-lg-12 bigger-article hide-overflow">
                                <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(1).Id },null)" style="width:100%;">
                                    <div class="absolute layer-4 article-preview align-vertical-absolute to-hide">
                                        <h1 class="text-header">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(1).ArticleTitle)</h1>
                                        <p class="text-content">
                                            @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(1).ArticleContent)
                                        </p>
                                    </div>


                                    <span class="cover dark-overlay to-hide"></span>
                                    <img src="@Url.Content(Model.ElementAtOrDefault(1).ArticleImage)" class="main-image-prefs">
                                </a>
                        </div>


                    </div>
                    <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(1).Id },null)" style="width:100%;">
                        <div class="text-wrapper hide-on-lg">

                            <h1 class="text-header black-text">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(1).ArticleTitle)</h1>
                            <p class="text-content black-text">
                                @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(1).ArticleContent)
                            </p>

                        </div>
                    </a>
                    <!--  Bigger Articles/-->
                    <div class="row no-gutters bigger-article hide-overflow">
                        <div class="col-lg-12">
                            <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(2).Id },null)" style="width:100%;">
                                <div class="absolute layer-4 article-preview align-vertical-absolute to-hide">

                                    <h1 class="text-header">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(2).ArticleTitle)</h1>
                                    <p class="text-content">
                                        @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(2).ArticleContent)
                                    </p>

                                </div>


                                <span class="cover dark-overlay to-hide"></span>
                                <img src="@Url.Content(Model.ElementAtOrDefault(2).ArticleImage)" class="main-image-prefs">
                            </a>
                        </div>
                    </div>
                    <div class="text-wrapper hide-on-lg">
                        <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(2).Id },null)" style="width:100%;">
                            <h1 class="text-header black-text">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(2).ArticleTitle)</h1>
                            <p class="text-content black-text">
                                @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(2).ArticleContent)
                            </p>
                        </a>
                    </div>

                    <!--  Smaller Articles Section/-->

                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            <!--  The  row of smallest Articles/-->
                            <div class="row no-gutters">
                                <!--  The smallest Article/-->
                                <div class="col-lg-6 smallest-article">
                                    <div class="top-image-wrapper">
                                        <img src="@Url.Content(Model.ElementAtOrDefault(3).ArticleImage)" class="main-image-prefs">
                                    </div>
                                    <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(3).Id },null)" style="width:100%;">
                                        <div class="text-wrapper">

                                            <span class="article-square square-position-1"></span>
                                            <h1 class="text-header   black-text">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(3).ArticleTitle)</h1>
                                            <p class="text-content   black-text">
                                                @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(3).ArticleContent)
                                            </p>

                                        </div>
                                    </a>
                                </div>
                                <!--  The smallest Article/-->
                                <div class="col-lg-6 smallest-article">
                                    <div class="top-image-wrapper">
                                        <img src="@Url.Content(Model.ElementAtOrDefault(4).ArticleImage)" class="main-image-prefs">
                                    </div>
                                    <a href="@Url.Action("Article", "Home", new{ id = Model.ElementAtOrDefault(4).Id },null)" style="width:100%;">
                                        <div class="text-wrapper">
                                            <span class="article-square square-position-2"></span>
                                            <h1 class="text-header black-text">@Html.DisplayFor(modelItem => Model.ElementAtOrDefault(4).ArticleTitle)</h1>
                                            <p class="text-content black-text">
                                                @Html.DisplayFor(modelItem => Model.ElementAtOrDefault(4).ArticleContent)
                                            </p>
                                        </div>
                                        </a>

</div>


                            </div>

                            <!--  The smallest Articles if Load Pressed/-->
                        </div>

                    </div>
                </div>

                <!--  Right part of the screen/-->
                <div class="col-lg-4">
                    <!--  Tags/-->
                    <div class="row no-gutters">
                        <div class="col-lg-12 functional to-hide">

                        </div>
                    </div>
                    <!--  Search/-->
                    <div class="row no-gutters">
                        <div class="col-lg-12 functional to-hide">

                        </div>
                    </div>
                    <!-- You can find us here/-->
                    <div class="row no-gutters">
                        <div class="col-lg-12 functional to-hide">

                        </div>
                    </div>
                    <!--  Another articles/-->
                    <div class="row no-gutters right-part-of-blog">
                        <!--  The smallest article/-->
                        <div class="col-lg-12 smallest-article">
                            <div class="top-image-wrapper">
                                <img src="@Url.Content(Model.ElementAtOrDefault(4).ArticleImage)" class="main-image-prefs">
                            </div>
                            <div class="text-wrapper">
                                <span class="article-square square-position-3"></span>
                                <h1 class="text-header black-text">How to advertise your Game?</h1>
                                <p class="text-content black-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</main>